#footer
  background: color-footer-background
  padding: 15px 0
  border-top: 1px solid color-border
  color: #a6a6a6
  font-size: 16px
  text-align: center
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em